In [35]:
import pandas as pd

Creating a smaple dataset with missing/incorrect data

In [36]:
data = {
    'Name' : ['Alex' ,'Ben', None , 'David', 'Elenor', 'Ben'],
    'Age' : ['24','45','31',None,'56','45'],
    'City': [None, 'Chicago' , 'Virginia', 'Charlotte','New York','Chicago']
}

In [37]:
df = pd.DataFrame(data)

Display Orginal Dataset

In [38]:
print("Orginal Dataset: ")
print(df)

Orginal Dataset:
     Name   Age       City
0    Alex    24       None
1     Ben    45    Chicago
2    None    31   Virginia
3   David  None  Charlotte
4  Elenor    56   New York
5     Ben    45    Chicago

Data Cleaning by Handling Missing Values :
Drop the missing values

In [39]:
df_cleaned = df.dropna()

Display Cleaned Dataset after handling missing values

In [40]:
print("Cleaned Dataset: ")
print(df_cleaned)

Cleaned Dataset:
     Name Age      City
1     Ben  45   Chicago
4  Elenor  56  New York
5     Ben  45   Chicago

Here the important data is been dropped, by eleminating missing values. We can use Filling values with mean, median, Forward fill or backword fill based on specific charestistics of data

In [41]:
df.fillna(method='ffill', inplace=True)
print("Dataset after Forward Fill")
print(df)

Dataset after Forward Fill
     Name Age       City
0    Alex  24       None
1     Ben  45    Chicago
2     Ben  31   Virginia
3   David  31  Charlotte
4  Elenor  56   New York
5     Ben  45    Chicago

In [42]:
df.fillna(method='bfill', inplace=True)
print("Dataset after Backward Fill")
print(df)

Dataset after Backward Fill
     Name Age       City
0    Alex  24    Chicago
1     Ben  45    Chicago
2     Ben  31   Virginia
3   David  31  Charlotte
4  Elenor  56   New York
5     Ben  45    Chicago

In [43]:
df['Age'].fillna(df['Age'].mean(), inplace=True)
print("Dataset after Filling Age with mean")
print(df)

Dataset after Filling Age with mean
     Name Age       City
0    Alex  24    Chicago
1     Ben  45    Chicago
2     Ben  31   Virginia
3   David  31  Charlotte
4  Elenor  56   New York
5     Ben  45    Chicago

Drop duplicate rows based on all columns

In [44]:
df_no_duplicate = df.drop_duplicates()
print("Dataset after Removing duplicates:")
print(df_no_duplicate)

Dataset after Removing duplicates:
     Name Age       City
0    Alex  24    Chicago
1     Ben  45    Chicago
2     Ben  31   Virginia
3   David  31  Charlotte
4  Elenor  56   New York